/*1st question*/
a{
    color:blue;

}
a:hover{
    color:red;
}
a:active{
    color:green;
}
/*2nd question*/
 section h1{
    font-family:Arial;

}
section p{
    font-size:1.2rem;
    line-height:1.6;
    text-shadow:2px 2px #de7878;
    text-align:justify;
}

/*3rd question*/
.card{
    border:1px solid gray;
    padding:20px;
    margin:10px;
    max-width:300px;
}