/*1st question*/
a{
    color:blue;

}
a:hover{
    color:red;
}
a:active{
    color:green;
}
/*2nd question*/
h1{
    font-family:Arial;

}
p{
    font-size:1.2rem;
    line-height:1.6;
    text-shadow:2px 2px #de7878;
    text-align:justify;
}